# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Python cache
.pytest_cache/

# Large medical PDF data
data/

# Streamlit
.streamlit/secrets.toml
