# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Python cache
.pytest_cache/

# Large medical PDF data
data/

# Streamlit
.streamlit/secrets.toml



#HOw to run it----> run on terminal


$env:Path = "C:\Users\ayush\.local\bin;$env:Path"
uv run streamlit run medibot.py


# yaa sirf
python -m streamlit run medibot.py